{% extends 'base.html' %}

{% block title %}Cards{% endblock %}

{% block js %}
<script src="/static/js/tradingCard.jsx" type="text/jsx"></script>
{% endblock %}


{% block body %}
<div class="grid">
  <div id="trading-container"></div>
  <!-- Mount Balloonicorn's card on to this element. -->
  <div id="balloonicorn"></div>

  <!-- Mount Float's card on to this element. -->
  <div id="float"></div>

  <!-- Mount Llambda's card on to this element. -->
  <div id="llambda"></div>
  <div id="off-by-one"></div>
  <div id="shortstack-overflow"></div>
  
</div>

{% endblock %}